[Desktop Entry]
Name=porymap
Type=Application
StartupNotify=true
Comment=Launch Porymap
Exec=/home/dwclake/.local/share/porymap/porymap
Icon=/home/dwclake/.local/share/porymap/resources/icons/porymap-icon-2.ico
StartupWMClass=porymap
