[Desktop Entry]
Name=Bibisco 3.0.3 Supporters Edition
Type=Application
StartupNotify=true
Comment=Launch Bibisco
Exec=/home/dwclake/.local/bibisco/bibisco
Icon=/home/dwclake/.local/bibisco/resources/app/assets/icons/linux/bibisco-circle-hr.png
StartupWMClass=bibisco
