[Desktop Entry]
Name=Vivado
Type=Application
StartupNotify=true
Comment=Launch Vivado
Exec=/home/dwclake/fpga/vivado.sh
Icon=/tools/Xilinx/Vivado/2023.2/doc/images/vivado_logo.png
StartupWMClass=vivado
